
/* Color Scheme Ideas */

/* Bonsai */
$dark:      #2C363F;
$vivid-1:   #E75A7C;
$light-1:   #F2F5EA;
$light-2:   #D6DBD2;
$vivid-2:   #BBC7A4;

/* Muted Green */
$dark:      #3C493F;
$dark-2:    #7E8D85;
$light-1:   #B3BFB8;
$light-2:   #F0F7F4;
$vivid:     #A2E3C4;

/* Chilled */
$back:      #F2F1F4;
$title:     #A1A38E;
$wc:        #7A747C;
$term-text: #47A2B5;
$term-back: #272A3E;





